---
---

@import "{{ site.theme }}";
.page-header {
     font-family: Arial;
     background-image: url("/AR-in-Healthcare/assets/6628915.jpg ), linear-gradient(#77A063, #77A063);
     backdrop-filter: blur(2px);
     height: 300px;
     background-position: right;
     background-repeat: no-repeat;
     text-align: center;
     color: white;
   }
