---
---

@import "{{ site.theme }}";
.page-header {
     font-family: Arial;
     text-align: center;
     color: white;
     background-image: url("/AR-in-Healthcare/assets/head.jpg"), linear-gradient(#160040, #160040);
     background-position: center;
     background-repeat: no-repeat;
     height: 300px;
     width: 100%;
     vertical-align: middle;
   }

.links {
     font-style: italic;
     background-color: #777676;
     color: white;
}
